<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Cadastro de Usuario</title>
    <style>
        .form-login {
            margin-top: 5rem;
            margin-left: auto;
            margin-right: auto;
        }

        h2 {
            text-align: center;
        }
    </style>
</head>

<body style="background-color: #F2F2F2;">
    <div class="container">
        <form class="row g-3 form-login" action="/usuario/cadastrar" method="POST">
            <h2>CADASTRO DE USUÁRIO</h2>
            <div class="col-md-12">
                <label class="form-label">Nome Completo</label>
                <input type="text" name="nome" class="form-control" id="nome">
            </div>
            <div class="col-md-6"">
                <label class="form-label">Sexo</label>
                <input class="form-control" name="sexo" type="text" id="sexo" size="60">
            </div>
            <div class="col-md-6"">
                <label class="form-label">Idade</label>
                <input class="form-control" name="idade" type="number" id="idade" size="40">
            </div>
            <div class="col-md-6">
                <label class="form-label">Hobby</label>
                <input name="hobby" type="text" id="hobby" size="40" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">Data de Nascimento</label>
                <input name="datanascimento" type="date" id="datanascimento" class="form-control" />
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </div>
        </form>
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>